<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='query.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Query</title>
</head>
<body id="body">
    <div class="bg"></div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Needle and tube thoracostomy</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Needle thoracostomy is accomplished by cleansing the skin in the upper chest and inserting the catheter over needle into the second intercostal space (just over the third rib) at the midclavicular line.</p>
                <span>
                    <h4>Common complications: </h4> <p> cardiac tamponade, life-threatening bleeding due to pulmonary artery or intercostal vessel injury, nontherapeutic (i.e., ineffective) NT insertion, and nerve injury/neuralgia at the insertion site.</p>
                </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <div id="everything" class="w-75">
    <div class="text-center">
    <input type="text" class="query m-1 mt-3" id="query" onkeyup="query()" placeholder="Procedure name" title="Type in a name">
    </div>
    <ul id="list" class="list m-2">
        <li><a class="mb-1" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Needle and tube thoracostomy (Chest tube insertion)</a></li>
        {% for procedure in procedures %}
        <li><a class="mb-1" href="">{{procedure}}</a></li>
        {% endfor %}
    </ul>
    </div>
    <script src="{{url_for('static', filename='query.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>